{% extends "base.html" %}
{% block body %}
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Number</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        
      
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{item.product}}</td>
        <td>{{item.number}}</td>
        <td>{{item.price}}</td>
        <td>{{item.total_price}}</td>
        <td><a href="{% url 'cart:del' item.product.id %}"><i class="fa fa-trash-o" style="font-size:24px"></i></a></td>
      </tr>
      {% endfor %}
      <tr>
        <td scope="row">total price</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{cart.get_total_price}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <a  href="{% url 'order:add'  %}"><input type= "button" value="Checkout" class="btn btn-primary"></a>
  
</div>
</section>

  {% endblock body %}
