{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

    <form method="post" class="text-center">
        {% csrf_token %}
        {{ form.non_field_errors }}
    {{ form.username.errors }}
    {{ form.username|as_crispy_field }}
<br>
    {{ form.password.errors }}
    {{ form.password|as_crispy_field }}
<br>
       <a href="{% url 'accounts:reset' %}"> <p>Forget Password?</p></a>

        <input type="submit" value="Login" class="btn btn-primary">
        <a href="{% url 'social:begin' 'google-oauth2' %}"><input type="button"  value="Gmail login" class="btn btn-danger"></a>


    </form>
  </div>
  </section>  

{% endblock body %}