{% include 'inc/navbar.html' %}


<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Django Shop</h1>
            
            <form action="{% url 'shop:search' %}" class="mx-auto w-50 py-4">
                <div class="input-group mb-3">
                    <input name = "q" type="text" class="form-control form-control-lg" placeholder="Search Here">
                    <button type="submit" class="input-group-text btn btn-outline-light"><i class="bi bi-search me-2"></i></button>
                </div>
            </form>

        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
            {% block body %}
              
            {% endblock body %}
    </div>
</section>


{% include 'inc/footer.html' %}
